

<% if @messages.empty? %>
  <div class="alert alert-error">
    No messages!
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Sender</td>
        <td>Subject</td>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender %></td>
        <td><%= message.subject %></td>
      </tr>
      <% end %>
    </tbody>
  </table> 
<% end %>